body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #333;
    height: 100vh;
}
h1{
    text-align: center;
    color: #f1f1f1;
    font-size: 200px;
    padding-top: 125px;
}
h1 + p{
    text-align: center;
    color: #f1f1f1;
    font-size: 35px;
    position: relative;
    top: -35px;
}
.container-corner{
    position: absolute;
    right: 40px;
    top: 40px;
}
.btn-circle{
    background: rgb(199, 20, 20);
    display: block;
    z-index: 15;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: relative;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #f1f1f1;
}
.line{
    width: 50%;
    height: 3px;
    background: #f1f1f1;
    transition: 
    transform 0.2s ease,
    opacity 0.2s ease,
    top 0.2s ease;
    position: relative;
}
.line:nth-child(1){
    top: -10px;
}
.line:nth-child(3){
    top: 10px;
}
.btn-circle.menu-anim .line:nth-child(1){
    top: 3px;
    transform: rotate(45deg);
    transition:
    top 0.2s ease,
    transform 0.2s ease 0.2s;
}
.btn-circle.menu-anim .line:nth-child(2){
    opacity: 0;
    transition: opacity 0.2s ease;
}
.btn-circle.menu-anim .line:nth-child(3){
    top: -3px;
    transform: rotate(-45deg);
    transition:
    top 0.2s ease,
    transform 0.2s ease 0.2s;
}
.circle-menu{
    background: rgb(245, 225, 225);
    width: 190px;
    height: 190px;
    border-radius: 50%;
    border: 65px solid rgb(189, 39, 39);
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.4s ease 0.5s;
}
.circle-menu.circle-anim{
    transition: transform 0.4 ease 0.4s;
    transform: translate(-50%, -50%) scale(1);
}
.links-circle{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.links-circle img{
    width: 40px;
    transition: transform 0.2s ease;
}
.links-circle img:hover{
    transform: scale(1.2);
}
.links-circle:nth-child(1){
    left: -15%;
    transition: transform 0.2s ease 0.4s;
}
.links-circle:nth-child(2){
    left: 1%;
    top: 95%;
    transition: transform 0.2s ease 0.2s;
}
.links-circle:nth-child(3){
    top: 115%;
    transition: transform 0.2s ease;
}
/* quand circle menu aura la class circle anim alors le premier élément qui a la class links-circle */
.circle-menu.circle-anim .links-circle:nth-child(1){
    transform: translate(-50%, -50%) scale(1);
    /* gestion des délais pour faire apparaître les icônes en dernier */
    transition: transform 0.2s ease 0.7s;
}
.circle-menu.circle-anim .links-circle:nth-child(2){
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.2s ease 0.9s;
}
.circle-menu.circle-anim .links-circle:nth-child(3){
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.2s ease 1.1s;
}
